<h3>Add Product Classic</h3>

<form #productAddForm="ngForm" (ngSubmit)="add(productAddForm)">
  <div class="form-group">
    <input
      type="text"
      placeholder="Product Name"
      #name="ngModel"
      [(ngModel)]="model.name"
      class="form-control"
      name="name"
      id="name"
      required
    />
    <div *ngIf="name.invalid && name.dirty" class="alert alert-danger">
      Product Name is required
    </div>
  </div>
  <br/>
  <div class="form-group">
    <input
      type="text"
      placeholder="Description"
      #description="ngModel"
      [(ngModel)]="model.description"
      class="form-control"
      name="description"
      id="description"
      required
    />
    <div
      *ngIf="description.invalid && description.dirty"
      class="alert alert-danger"
    >
      Description is required
    </div>
  </div>
  <br/>
  <div class="form-group">
    <input
      type="text"
      placeholder="Product Image"
      #imageUrl="ngModel"
      [(ngModel)]="model.imageUrl"
      class="form-control"
      name="imageUrl"
      id="imageUrl"
      required
    />
    <div *ngIf="imageUrl.invalid && imageUrl.dirty" class="alert alert-danger">
      Product Image is required
    </div>
  </div>
  <br/>
  <div class="form-group">
    <input
      type="text"
      placeholder="Product Price"
      #price="ngModel"
      [(ngModel)]="model.price"
      class="form-control"
      name="price"
      id="price"
      required
    />
    <div *ngIf="price.invalid && price.dirty" class="alert alert-danger">
      Product price is required
    </div>
  </div>
  <br/>
  <div class="form-group">
    <select
      class="form-control"
      #categoryId="ngModel"
      [(ngModel)]="model.categoryId"
      id="categoryId"
      name="categoryId"
      required
    >
      <option
        *ngFor="let category of categories"
        [value]="category.id"
      >{{category.name}}</option>
    </select>
  </div>
  <div
    *ngIf="categoryId.invalid && categoryId.touched"
    class="alert alert-danger"
  >
    Category is required
  </div>
  <br/>
  <button class="btn btn-primary" type="submit" [disabled]="productAddForm.invalid">Add Product</button>
</form>
